<!doctype html>
<html>

<head>
    <title>Bioagronomic Sensors Data Logger</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div id="wrapper">

    <div id="header">
        <div id="title">
            <h1> Bio-agronomic Data Logger </h1>
        </div> <!-- End title -->
    </div> <!--End header -->
        <hr>
    <div id="main_content">
        <div id="section_gauges">
            <h2>Sensor Data </h2>
            <h3> Last reading: {{ timestamp }} </h3>
            <div id="TP"> <!-- Water
            Temperature Gauge -->
            </div> <!-- End Water Temperature Gauge div#WTP -->

            <div id="TA"> <!-- Air Temperature Gauge -->
            </div> <!-- End Air Temperature Gauge div#ATP -->

            <div id="HA"> <!-- Air Relative Humidity Gauge -->
            </div> <!-- End Air Relative Humidity Gauge div#AHR -->

            <div id="SM"> <!-- Soil Moisture Gauge -->
            </div> <!-- End Soil Moisture Gauge div#AHR -->

            <div id="PH"> <!-- PH Gauge -->
            </div> <!-- End PH Gauge -->

            <div id="EC"> <!-- EC Gauge -->
            </div> <!-- End EC Gauge  -->

<!--            <div id="DO"> &lt;!&ndash; DO Gauge &ndash;&gt;-->
<!--            </div> &lt;!&ndash; End DO Gauge  &ndash;&gt;-->

            <div id="TDS"> <!-- TDS Gauge -->
            </div> <!-- End TDS Gauge -->

            <div id="SAL"> <!-- SAL Gauge -->
            </div> <!-- End SAL Gauge -->

            <br>
            <a href="/"class="button">Click to refresh</a>
        </div> <!-- End section_gauges -->
        <br>
        <hr>
        <br>
        <div id="section_historical">
            <div id="input_date">
                <h3> HISTORICAL DATA </h3><br>
                <p> Enter a range between two dates (in format 'dd/mm/yyyy HH:MM') to retrieve a sub-set of measurements:</p><br>
                <form method="POST">
                    From:
                    <input type="text" class="input-class day" name="startDay" value= {{startDay}}>/
                    <input type="text" class="input-class month" name="startMonth" value= {{startMonth}} >/
                    <input type="text" class="input-class year"  name="startYear" value= {{startYear}}>&nbsp; &nbsp; &nbsp;
                    <input type="text" class="input-class hour" name="startHour" value= {{startHour}}>&nbsp;:&nbsp;
                    <input type="text" class="input-class min" name="startMin" value= {{startMin}}>&nbsp; &nbsp; &nbsp;
                    To:
                    <input type="text" class="input-class day"  name="endDay" value= {{endDay}}>/
                    <input type="text" class="input-class month" name="endMonth" value= {{endMonth}}>/
                    <input type="text" class="input-class year" name="endYear" value= {{endYear}}>&nbsp; &nbsp; &nbsp;
                    <input type="text" class="input-class hour" name="endHour" value= {{endHour}}>&nbsp;:&nbsp;
                    <input type="text" class="input-class min" name="endMin" value= {{endMin}}><br>
                    <br>
                    <input class="button" type="submit">
                </form>
                <br>
            </div> <!-- End input_date -->
            <hr>
            <div id="display_historical">
                <div id="fig_plot">
                    <img src="/plot/parameters" alt="Image Placeholder" width="90%">
                </div> <!-- End Plots -->
            </div> <!-- End display_historical -->
        </div> <!-- End section_historical -->
    </div> <!-- End main_content -->
    <br>
    <hr>
    <div id="footer">
        Web interface originally developed by <a href="https://mjrobot.org" target="_blank">MJRoBot.org</a>,
        modified by <a href="http://isandex.com" target="_blank"> Jose L. Ulloa</a>, 2018
        <br><div id="logo"></div> <!-- End logo -->
    </div> <!-- End footer -->

</div> <! -- End wrapper -->

<!-- Scripts to load gauges on top -->
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
	document.addEventListener("DOMContentLoaded", function(event) {
	    var TP = new JustGage({
		id: "TP",
		value: {{temp}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		min: -5,
		max: 45,
		title: "Water Temperature",
		label: "Celsius"
	});
	    var TA = new JustGage({
		id: "TA",
		value: {{atemp}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		min: -5,
		max: 45,
		title: "Air Temperature",
		label: "Celsius"
	});
	    var HA = new JustGage({
		id: "HA",
		value: {{ahum}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		min: 0,
		max: 100,
		title: "Air Relative Humidity",
		label: "%"
	});
	    var SM = new JustGage({
		id: "SM",
		value: {{smoist}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		min: 0,
		max: 100,
		title: "Soil Moisture",
		label: "%"
	});
	    var PH = new JustGage({
		id: "PH",
		value: {{ph}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		decimals:3,
		min: 0,
		max: 14,
		title: "pH",
		label: "pH"
      });
	    var EC = new JustGage({
		id: "EC",
		value: {{ec}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		min: 0,
		max: 50000,
		title: "Electroconductividad",
		label: "uS/cm"
      });
<!--      	var DO = new JustGage({-->
<!--		id: "DO",-->
<!--		value: {{do}},-->
<!--		valueFontColor: "#273b87",-->
<!--		labelFontColor: "#273b87",-->
<!--		decimals:3,-->
<!--		min: 0,-->
<!--		max: 20,-->
<!--		title: "Dissolved Oxygen",-->
<!--		label: "mg/L"-->
<!--      });-->
	    var TDS = new JustGage({
		id: "TDS",
		value: {{tds}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		decimals:0,
		min: 0,
		max: 5000,
		title: "Total Dissolved Solutes",
		label: "ppm"
      });
	    var SAL = new JustGage({
		id: "SAL",
		value: {{sal}},
		valueFontColor: "#273b87",
		labelFontColor: "#273b87",
		decimals:3,
		min: 0,
		max: 50,
		title: "Salinity",
		label: "PSU"
      });
     })
    </script>
</body>
</html>
